body{
    margin:0;
    border:0;
    padding: 0;
}
body * {
   
    font-family: 'Open Sans', sans-serif;

    }
    
nav {
    background-color: #000f08;
     padding: 12px 0px 12px 0px ;
   
}
li{
    display: inline;
    vertical-align: middle;
}
nav a{
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
}
.icono svg{
    width:25px;
    fill: #ffffff;
    width: 2rem;
    margin-left: 75px;

}
header {
    background-image:url(../img/bg-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Propiedades Agregadas */
    text-shadow: 0px 3px 6px black;
    text-align: right;
    color: white;
    padding: 100px 200px 150px 300px;

   }
header  h1{
    font-size: 50px;
}
header h2{
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.85;
   }

.lugar{
    text-align: center;
    padding: 100px;
}
.lugar img{
    width: 25%;
    margin-bottom: 10px;

}
.lugar h2{
    font-size: 40px;
}
.lugar p{
    padding: 15px 630px;
}
   #Proxima-Charla {
    background: #a4452c;
    padding: 100px;
    color: white;
   }
   #Proxima-Charla h2{
    font-size: 35px;
   }
   #Proxima-Charla h4{
    font-size: 30px;
   }
   #Proxima-Charla h6{
    font-size: 25px;
    font-weight: lighter;
   }
     #Proxima-Charla span{
    font-size: 15px;
   }
   #Proxima-Charla .wrapper {
    width: 800px;
    margin: auto;
   }
   .wrapper img {
    width: 30%;
    border-radius: 5%;
   }
   .wrapper .texto {
    width: 65%;
    margin-left: 4%;
   }
   .wrapper img, .texto {
    display: inline-block;
    vertical-align: middle;
}
/* .eventos-anteriores h2{
    font-size: 45px;
    margin-bottom: 30px;
}
.eventos-anteriores{
    text-align: center;
     padding: 100px;
}
.eventos-anteriores img{
    width: 75%;
    border-radius: 5px;
}
.eventos-anteriores div{
    display: inline-block;
    padding: 20px;
}

.eventos-anteriores h3{
    font-size: 20px;
    margin-top: 20px;
} */

footer {
    
    text-align: center;
    background-color:#000f08;
    color: white;
    padding:30px
}
footer i {
    margin: 0px  15px 20px 10px;
}
